---
import Layout from "../layouts/layout.astro";
import ClaseContainer from "../components/index/ClaseContainer.astro";
import NavBar from "../components/NavBar.astro";
import TestimonyCarrouselMobile from "../components/index/TestimonyCarrouselMobile.tsx";
import VideoGalery from "../components/VideoGalery";
import TestimonyCarrousel from "../components/index/TestimonyCarrousel";
---

<Layout
  title="Dance Studio - Academia de Baile | Aprende a Bailar desde Cero"
  description="Descubre la mejor academia de baile en Lima. Aprende salsa, bachata y timba con profesores expertos. Clases para principiantes y avanzados. ¡Empieza hoy!"
  keywords="clases de baile, academia de baile, aprender a bailar, salsa, bachata, timba, Lima, clases de baile para principiantes"
>
  <section
    class="flex flex-col items-center px-6 md:px-16 xl:px-42 2xl:px-46 relative bg-cover"
    style="background-image: var(--gradient-bg-hero), url(/img/dance-studio-cover.webp); background-repeat: no-repeat; background-position:center top;"
  >
    <NavBar />
    <div class="flex flex-col gap-10 py-22 md:py-28 xl:py-30 2xl:py-34 items-center">
      <h1
        class="text-white uppercase text-5xl xl:text-6xl font-bold italic text-balance text-center"
      >
        <span class="text-primary">Aprende</span> a bailar desde 0
      </h1>
      <p class="text-white text-balance text-center xl:text-xl max-w-prose">
        No necesitas experiencia, aquí empezamos desde lo básico, <span
          class="text-primary font-bold">paso a paso</span
        >, hasta que disfrutes cada canción en la pista.
      </p>
      <a
        class="text-primary border-primary border py-2 px-8 text-xl xl:text-2xl font-semibold cursor-pointer hover:scale-105 transition-all duration-150"
        href="/contacto"
      >
        Empieza hoy
      </a>
    </div>
  </section>

  <section class="flex flex-col px-6 md:px-16 xl:px-42 2xl:px-46 gap-10 xl:gap-14">
    <h2
      class="text-white text-2xl md:text-3xl xl:text-4xl font-bold uppercase italic text-balance text-center"
    >
      <span class="text-primary"> Próximas </span> clases
    </h2>
    <div class="flex flex-col md:flex-row xl:justify-center gap-4 xl:gap-6 2xl:gap-8">
      <ClaseContainer
        titulo="Salsa para principiantes"
        enlace="/"
        img="/img/clases/dance-studio-salsa-principiantes.webp"
      />
      <ClaseContainer
        titulo="Bachata intermedio"
        enlace="/"
        img="/img/clases/dance-studio-bachata-intermedio.webp"
      />
      <ClaseContainer
        titulo="Timba con sabor cubano"
        enlace="/"
        img="/img/clases/dance-studio-timba-sabor-cubano.webp"
      />
    </div>
  </section>

  <section class="flex flex-col px-6 md:px-16 xl:px-42 my-10 md:my-20 xl:my-18 gap-15 xl:gap-8">
    <h2
      class="text-white text-2xl md:text-3xl xl:text-4xl font-bold uppercase italic text-balance text-center"
    >
      Lo que nos hace <span class="text-primary">únicos</span>
    </h2>

    <div class="relative">
      <span
        class="absolute bg-gradient-to-r from-primary to-[#bd5139] text-balance font-semibold px-3 py-1 xl:px-5 xl:py-2 z-0 text-sm xl:text-lg max-w-[120px] xl:max-w-[250px] text-center uppercase sm:top-5 xl:top-20 xl:left-28 2xl:top-26 sm:left-32 2xl:left-86"
        >Aprende desde cero</span
      >
      <span
        class="absolute bg-gradient-to-l from-primary to-[#bd5139] text-balance font-semibold px-3 py-1 xl:px-5 xl:py-2 z-0 text-sm xl:text-lg max-w-[120px] xl:max-w-[250px] text-center -right-0 top-20 xl:top-40 2xl:top-48 sm:right-32 xl:right-30 2xl:right-90 uppercase"
        >Horarios flexibles</span
      >
      <span
        class="absolute bg-gradient-to-r from-primary to-[#bd5139] text-balance font-semibold px-3 py-1 xl:px-5 xl:py-2 z-20 text-sm xl:text-lg max-w-[120px] xl:max-w-[250px] text-center top-40 xl:top-70 2xl:top-80 2xl:left-72 sm:left-24 uppercase"
        >Ambiente amigable</span
      >
      <span
        class="absolute bg-gradient-to-l from-primary to-[#bd5139] text-balance font-semibold px-3 py-1 xl:px-5 xl:py-2 z-20 text-sm xl:text-lg max-w-[120px] xl:max-w-[250px] text-center top-60 xl:top-85 2xl:top-100 right-0 sm:right-28 xl:right-26 2xl:right-86
	   uppercase"
        >Estilos Variados</span
      >
      <span
        class="absolute bg-gradient-to-l from-primary to-[#bd5139] text-balance font-semibold px-3 py-1 xl:px-5 xl:py-2 z-20 text-sm xl:text-lg text-center -bottom-2 xl:bottom-30 2xl:bottom-28 left-1/2 xl:left-38 2xl:left-110 -translate-x-1/2 xl:translate-0 uppercase"
        >Ritmo Garantizado</span
      >
      <img
        src="/img/dance-studio-pareja.webp"
        alt="Pareja Bailando"
        class="top-1/2 left-1/2 -translate-x-1/2 z-10 relative h-[400px] xl:h-[600px] 2xl:h-[650px]"
      />
    </div>
  </section>

  <section
    class="font-medium text-center italic flex flex-col xl:flex-row xl:justify-between
     items-center gap-5 py-10 md:py-12 xl:py-10 md:px-16 xl:px-42 2xl:px-46 bg-cover bg-center px-6"
    style="background-image: url('/img/section-bg.webp');"
  >
    <span class="text-2xl xl:text-3xl text-balance xl:max-w-[380px]"
      >¿Listo para dar tu <span class="font-extrabold">primer paso</span> en el baile?</span
    >
    <a
      href="/contacto"
      class="bg-background text-primary text-xl font-semibold py-2 px-8 xl:text-2xl "
      >Empieza aquí</a
    >
  </section>

  <section class="flex flex-col items-center px-6 md:px-16 xl:px-42 2xl:px-46 gap-15 my-20">
    <h2 class="text-white text-2xl font-bold uppercase italic text-balance md:text-3xl xl:text-4xl text-center">
      <span class="text-primary">Testimonios</span> de alumnos
    </h2>
    <div class="w-full xl:hidden">
      <TestimonyCarrouselMobile client:visible />
    </div>
    <div class="w-full hidden xl:flex">
      <TestimonyCarrousel client:visible />
    </div>
  </section>

  <section class="flex flex-col items-center px-6 md:px-16 xl:px-42 2xl:px-46 gap-15 my-20">
    <h2 class="text-white text-2xl md:text-3xl xl:text-4xl font-bold uppercase italic text-balance">
      <span class="text-primary">Baile</span> en acción
    </h2>
    <div class="flex w-full gap-3 items-end">
      <VideoGalery client:load />
    </div>
  </section>
  <section
    class="w-full px-6 md:px-16 xl:px-42 font-medium text-center italic flex flex-col items-center gap-5 xl:gap-8 py-10 md:py-12 xl:py-10 bg-cover xl:justify-between"
    style="background-image: url('/img/section-bg.webp');"
  >
    <div class="flex flex-col">
      <span class="text-2xl xl:text-3xl text-balance"
        >¡Tu momento de bailar <span class="font-extrabold">empieza ahora!</span
        >
        <br />
        No importa si nunca bailaste antes.</span
      >
    </div>
    <a
      href="/contacto"
      class="bg-background text-primary text-xl xl:text-2xl font-semibold py-2 xl:py-3 px-8 xl:px-10 cursor-pointer hover:scale-105 transition-all duration-150"
      >Reserva tu clase hoy</a
    >
  </section>
</Layout>
