---
import { Icon } from "astro-icon/components";
---

<div
  class="flex flex-col px-6 md:px-16 xl:px-42 2xl:px-46 py-10 md:py-12 xl:py-14 text-white gap-10 2xl:gap-20"
>
  <div class="flex w-full gap-18 md:gap-40 justify-center 2xl:justify-between">
    <div
      class="flex md:w-1/3 xl:w-1/4 2xl:w-1/8
     flex-col gap-2 items-center"
    >
      <img
        src="/img/dance-studio-logo.png"
        class="xl:w-full"
        alt="dance-studio-logo"
        loading="lazy"
      />
      <div class="flex gap-2 justify-center text-xl md:hidden">
        <Icon name="icon-youtube" class="text-white" />
        <Icon name="icon-instagram" class="text-white" />
        <Icon name="icon-twitter" class="text-white" />
      </div>
    </div>
    <div class="w-3/4 md:w-full 2xl:w-1/2 flex justify-between">
      <div class="gap-3 flex flex-col">
        <a class="font-medium text-white xl:text-lg hover:text-primary transition-colors" href="/nosotros">Sobre Nosotros</a>
        <ul class="text-white gap-2 xl:gap-4 flex flex-col">
          <li><a href="/nosotros#historia" class="hover:text-primary transition-colors">Historia</a></li>
          <li><a href="/nosotros#valores" class="hover:text-primary transition-colors">Misión y Valores</a></li>
          <li><a href="/nosotros#instructores" class="hover:text-primary transition-colors">Instructores</a></li>
        </ul>
      </div>
      <div class="gap-6 flex flex-col">
        <a class="font-medium text-white xl:text-lg hover:text-primary transition-colors" href="/estilos">Estilos</a>
        <ul class="text-white gap-2 xl:gap-4 flex flex-col">
          <li><a href="/estilos" class="hover:text-primary transition-colors">Salsa</a></li>
          <li><a href="/estilos" class="hover:text-primary transition-colors">Bachata</a></li>
          <li><a href="/estilos" class="hover:text-primary transition-colors">Timba</a></li>
        </ul>
      </div>
      <div class="gap-6 md:flex flex-col hidden">
        <a class="font-medium text-white xl:text-lg hover:text-primary transition-colors" href="/galeria">Galería</a>
      </div>
    </div>
  </div>
  <div class="flex justify-between 2xl:gap-30 text-sm xl:text-[16px] flex-wrap gap-3">
    <div class="flex gap-2 items-center">
      <Icon name="icon-mail" class="text-white text-xl" />
      <span class="font-medium">info@dancepoint.com</span>
    </div>
    <div class="flex gap-2 items-center">
      <Icon name="icon-phone" class="text-white text-xl" />
      <span class="font-medium">(01) 059 548</span>
    </div>
    <div class="flex gap-2 items-center">
      <Icon name="icon-location" class="text-white text-xl" />
      <span class="font-medium">Av. Alfredo Mendiola 5982</span>
    </div>
    <div class="hidden md:flex gap-2 justify-center text-xl xl:text-3xl">
      <Icon name="icon-youtube" class="text-white" />
      <Icon name="icon-instagram" class="text-white" />
      <Icon name="icon-twitter" class="text-white" />
    </div>
  </div>
</div>
