---
const { titulo, enlace, img } = Astro.props;
---

<div
  class=" min-h-[180px] md:min-h-[310px] md:w-1/4 py-4 px-8 flex items-end relative"
  style={`background-image: var(--gradient-bg-clases); background-repeat: no-repeat; background-position: center; background-size: cover;`}
>
  <img src={img} alt={titulo} class="absolute top-0 left-0 w-full h-full object-cover opacity-30 -z-10" />
  <div class="flex flex-col text-white">
    <span class="text-lg font-medium">{titulo}</span>
    <a href={enlace} class="">Reserva tu clase &#x279C;</a>
  </div>
</div>
